.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  width: 30%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.1);
}

.form_group_select {
  flex-direction: row;
}

.form_group button {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  background-color: gray;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 200;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
