.navbar {
  width: 100vw;
  height: 10vh;
  padding: 0 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  left: 0;
}

.brand {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  position: absolute;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
}

.menu li {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.3rem;
}

.menu li:hover {
  font-weight: 300;
}
